body {
    margin: 0;
font-family: sans-serif;
background-color: #000000;
}
    
  .main {
  display: flex;
background-color:rgb(58, 13, 58);
justify-content: space-between;
padding: 40px;
margin: 10rem auto 0 auto;
width:100% ;
align-items: center;
  }

 .main img{
    height: 200px;
  
  }    
  .main  h3{
margin: 0;
color: white;

  }

  .main p {
     color: white;
    margin-right: 15px;
  }

  .section-work  {
    transition: all 0.7s linear;
    justify-content: center;
  


  }

    .counter-no{
      font-size: 25px;
      
    }

    .container {

      justify-content: center;

    }

