body {
  background-color: greenyellow;
}
  
.main {
display: flex;
justify-content: center;

gap :14px;
flex: wrap;
width: 100%;

}


.main h3 {
  color:aqua;
  font-size: 22px;
  line-height:25px;

}


.main p  {

  color: blanchedalmond;
  font-size: 20px;
  line-height:25px;

}

.main  button  {
padding: 20px 20px  10px 10px;
color: goldenrod;

} 


