body {
  background-color: white;
}
  
.main {
display: flex;
justify-content: center;
gap :14px;
flex: wrap;
width: 100%;
box-shadow: 0.5rem  0.5rem  0.5rem  #555;
}



.main h3 {
  color:black;
  font-size: 22px;
  line-height:25px;

}


.main p  {

  color: black;
  font-size: 20px;
  line-height:25px;

}

.main  button  {
padding: 20px 20px  10px 10px;
color: grey;
justify-content: center;
text-align: center;
display: block;
margin: auto;
 font-size:15px;
 overflow: hidden;

} 




